@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body,html{
  height: 100%;
  background-color:#f3f4f6 ;
  margin: 0px;
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  align-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}
.box{
  width: 370px;
  height: 600px;
  box-shadow: 20px 23px 18px -15px rgba(0,0,0,0.1);
  border-radius: 2rem;
  background-color: #fff;
  display: grid;
  grid-template-rows: 170px auto;
}
input{
  border: none;
  font-size: 100px;
  width: 310px;
  margin: 10px 15px;
}