body,html{
  height: 100%;
  background-color:#f3f4f6 ;
  margin: 0px;
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  align-content: center;
}
.box{
  width: 400px;
  height: 600px;
  box-shadow: 20px 23px 18px -15px rgba(0,0,0,0.1);
  border-radius: 2rem;
  background-color: #fff;
}
